

<div class="card-corpo">
    <h4>Despesas</h4>
    <button type="button" class="btn btn-primary"><i class="bi bi-printer-fill mx-2"></i>Imprimir</button>
</div>

<div class="cards">
    <div class="Saldo">
        <div class="card1">
            <div class="saldo-tela">
                <h4 class="Saldo"><i class="bi bi-cash-coin mx-3"></i>""</h4>
                <p>Saldo Atual</p>
            </div>
            <div class="custom-select">
                <select>
                    <option value="" disabled selected>Selecione uma conta</option>
                    <option value="Conta Principal">Conta Principal</option>
                    <option value="Conta Segundaria">Conta Segundaria</option>
                </select>
            </div>
        </div>
    </div>
    <div class="Demostrativo">
        <div class="card2">
            <div>
                <h5>Receitas</h5>
                <h6>Despesas</h6>
            </div>    
            <div>
                <h6 class="receitas">R$<></>Ate<></></h6>
                <h6 class="despesas">R$<></>Ate<></></h6>
            </div>
        </div>
    </div>
</div>
<div class="btn-select">
    <button class="btn btn-primary" type="button"><i class="bi bi-calendar-check-fill mx-2"></i>Ano</button>
    <button class="btn btn-primary" type="button"><i class="bi bi-calendar3 mx-2"></i>Mês</button>
</div>
<div class="btn-table">
    <button type="button" class="btn btn-primary"><i class="bi bi-plus-square-fill mx-2"></i>Adicionar</button>
    <button type="button" class="btn btn-primary"><i class="bi bi-trash3-fill mx-2"></i>Remover</button>
    <button type="button" class="btn btn-primary"><i class="bi bi-pen-fill mx-2"></i>Editar</button>
    <button type="button" class="btn btn-primary"><i class="bi bi-piggy-bank-fill mx-2"></i>Pagar</button>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Materia</th>
            <th scope="col">Sala</th>
            <th scope="col">Data</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
        </tr>
    </tbody>
</table>



