
<h1>Tudo Ok</h1>

<div class="text-center">
    <button class="btn-inserir">
        <a class="btn-inserir" type="button" asp-controller="Aluno" asp-action="AdicionarAluno">INSERIR ALUNO</a>
    </button>
</div>